.carrossel__titulo{
    background-color: var(--branco);
    color: var(--laranja);
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    padding: 1em 0.5em;

}

.swiper-slide img{
    width: 100%;
}

.swiper-pagination {
    position: initial;
    margin: 0.5em;
}

.card{
    background-color: var(--branco);
    margin: 1.0em;
    border-radius: 14px;
    padding: 1em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card__botao{
    display: flex ;
    justify-content: space-between;
    align-items: center;
}

.card__descricao{
    display: flex;
    justify-content: space-between;
}

.descricao__titulo{
    color: var(--laranja);
    font-weight: 700;
    margin: 0.5em;
}

.descricao__titulo-livro{
    color: var(--azul);
    font-weight: 700;
    margin: 0.5em;
}

.descricao__texto{
    font-size: 14px;
    margin: 0.5em;
}

.botoes{
    display: flex;
}

.botoes__item{
    margin: 0 0.5em;
}

.botoes__ancora{
    padding: 1em 2em;
    background-color: var(--laranja);
    text-decoration: none;
    color: var(--branco);
    margin-top: 0.5em;
    font-weight: 700;
}

@media screen and (min-width: 1024px){
    .carrossel__titulo{
        font-size: 26px;
    }

    .swiper-pagination{
        margin: 2em 0 3em 0;
    }

    .swiper{
        width: 60%;
    }

    .swiper-button-prev,
    .swiper-button-next {
        display: block;
        top: 60%;
    }

    .card{
        width: 50%;
        margin: 3em 5em;      
    }

    .carrossel__container{
        display: flex;
        flex-direction: column;
        align-items: center;

    }
}

@media screen and (min-width: 1728px){
    .carrossel__container{
        display: flex;
        flex-direction: row;
        margin: 0 20vw 3em 20vw;
        align-items: center ;
    }

    .card{
        width: 60%;
        margin-left: 3em;
    }

    .swiper-pagination{
        margin: 1em 0;
    }

    .swiper{
        width: 50%;
    }

    .descricao__titulo{
        font-size: 32px;
    }

    .descricao__texto{
        font-size: 16px;
    }

}