.contato{
    padding: 1em;
    background-color: var(--branco);
}

.contato__titulo,
.contato__texto{
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    padding: 0 0 1em 0;
}

.contato__titulo{
    font-size: 18px;
    font-weight: 500;
}

.contato__texto{
    font-weight: 300;
}

.contato__email{
    border: 1px solid var(--azul);
    border-radius: 24px;
    width: 90%;
    padding: 1em;
    color: var(--azul);
    font-family: var(--fonte-principal);
}

.contato__email::placeholder{
    font-family: var(--fonte-principal);
    color: var(--azul);
    background: url("../img/Email.svg") no-repeat;
    padding-left: 2em;
}

hr{
    margin: 0;

}

.rodape{
    padding: 1em;
}

.lista-rodape{
    display: none;
}

@media screen and (min-width: 1024px){

    .contato{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 3em;
    }

    .contato__email{
        width: 40%;
        margin: 1em;
    }

    .contato__titulo{
        font-size: 24px;
        width: 60%;
    }

    .contato__descricao{
        margin-left: 1em;
    }

    .rodape{
        display: flex;
        justify-content: space-around;
    }

    .rodape__titulo{
        font-size: 24px;
        margin: 1em 0 0 0 ;
    }

    .lista-rodape__item{
        display: flex;
        align-items: center;
        margin: 1em;
        gap: 1em;
    }

    .lista-rodape__links{
        text-decoration: none;
        color: var(--cinza-escuro);
    }
    
    .lista-rodape__titulo{
        margin: 1em;
        text-transform: uppercase;
        color: var(--cinza-claro);
    }

    .lista-rodape{
        display: block;
    }

    .contato{
        padding: 3em 20vw;
    }
}


@media screen and (min-width: 1728px){
    .lista-rodape{
        border-left: 1px solid var(--cinza-claro);
    }

    .rodape{
        padding: 3em 0;
    }
}